.MSR_li {
    display: 'flex';
    align-items: 'center';
}

.MSR_button {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    border-top: 1px solid var(--dark-opal);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Work Sans', sans-serif;
    color: var(--dark-text);
    font-weight: 200;
    font-size: 18px;
    background-color: var(--white);
}

.MSR_button:hover {
    background-color: var(--opal);
}

.MSR_button:disabled {
    background-color: grey;
}

.MSR_title {
    margin: 0;
    margin-left: 10px;
    text-align: left;
}

@media screen and (max-width: 600px) {
    .MSR_button {
        font-size: 12px;
    }
}
