@import 'master.css';

.NominationDisplay_li {
    display: flex;
    justify-content: center;
}

.NominationDisplay_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 20px;
    padding-bottom: 0;
}

.NominationDisplay_wrapper:hover {
    background-color: var(--transparent-white);
    cursor: pointer;
}

.NominationDisplay_filler {
    display: block;
    height: 300px;
    width: 200px;
    background-color: var(--dark-opal);
}

.NominationDisplay_img {
    display: block;
}
.NominationDisplay_wrapper:hover:after {
    content: '\00d7'; /* This will render the 'X' */
    color: var(--red);
    position: relative;
    top: -250px;
    transform: scale(6);
    height: 0;
}

.NominationDisplay_img_wrapper {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
